name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"
  pull_request:
    paths-ignore:
      - "docs/**"
  schedule:
    # run every day to alert against changes in default mise versions which break snapshot tests
    - cron: "0 0 * * *"

jobs:
  test:
    name: Check and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074

      - name: Lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
        with:
          version: v1.63.4
          args: --timeout=5m

      - name: Go Checks
        run: mise run check

      - name: Test Unit
        run: mise run test
